// Body
$body-bg: #e4e3db;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #c5001a;
$secondary: #113743;
$base-gray: #c5beba;

$font-base-color: #113743;
$font-white-color: #e4e3db;
