// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'reset';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-color: $body-bg;
  color: $font-base-color;
}

